input {
    padding: 5px;
    margin: 10px;
  }
  
  form {
    margin-left: 10px;
  }
  
  .button {
    background-color: rgb(110, 94, 254);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 15px;
  }
  
  .button:hover {
    opacity: 1;
  }
  
  .y {
    background: white;
    border-top: 0;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-top: 0;
    width: 40%;
    left: 28%;
    position: relative;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .y .labels {
    color: rgb(110, 94, 254);
  }
  
  .y input {
    border-radius: 10px;
  }
  
  .y h2 {
    color: rgb(110, 94, 254);
  }
  
  .y {
    border: 10px solid rgb(110, 94, 254);
  }
  
  .checkers{
      vertical-align: middle;
      margin-top: -2px;
  }

  .deletebtn{
    background-color: red;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 15px;
  }
  .hrefs{
    color: white;
    text-decoration: none;
  }